@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800&display=swap');

.App {
  background-image: url('https://img.freepik.com/free-vector/quiz-game-stage-interior-with-stands-spotlights_107791-13339.jpg?w=1380&t=st=1669969217~exp=1669969817~hmac=25e7135b4293726a93a2590417f8c540d8214bf3d27ba6504c4b79a3f3e82917');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  color: white;
  font-family: 'kanit', sans-serif;
}